@model List<ProjectPortfolio.Models.Project>

<h1>@ViewBag.Title</h1>

@if (Model.Count == 0)
{
    <p>No projects yet!</p>
}

<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
    </tr>

    @foreach (var project in Model)
    {
        <tr>
            <td>@project.Name</td>
            <td>@project.Description</td>
            <td>@project.Category.Name</td>
        </tr>
    }
</table>

<p><a asp-controller="Project" asp-action="Add">Add</a> |  <a asp-controller="Project" asp-action="Remove">Remove</a></p>

